
body {
    background-color: #F9F5F0;
    font-family: 'Inter', sans-serif;
    color: #444444;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #4B0082;
}
button {
    background-color: #E6739F;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
}
